<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Custom Login Page</title>
    <style>
        .failed { color:red; }
    </style>
</head>
<body>

<h3>Get Ready to enter the world of harem !</h3>

<form action="#" th:action="@{/authenticateTheUser}" method="POST">

    <div th:if="${param.error}">
        <i class="failed"> Oh boy!! Oh boy!! Wrong credentials !!</i>
    </div>
    <p>
        User Name : <input type="text" name="username"/>
    </p>
    <p>
        Password : <input type="password" name="password"/>
    </p>
    <input type="submit" value="Login"/>
</form>

</body>
</html>